.contact {
  margin-top: 50px;

  @include breakpoint(smallScreen) {
    margin-top: 100px;
  }

  @include breakpoint(largeScreen) {
    margin-top: 150px;
  }

  &__container {
    width: 100%;
    position: relative;

    .contact-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 100px;

      @include breakpoint(smallScreen) {
        align-items: flex-start;
        gap: 50px;
      }

      @include breakpoint(largeScreen) {
        flex-direction: row;
        justify-content: space-between;
      }

      .contact-info {
        width: 90%;
        position: relative;

        @include breakpoint(smallScreen) {
          width: 100%;
        }

        &::after {
          content: '';
          display: block;
          width: 90%;
          padding-bottom: 62%;
          position: absolute;
          top: calc(100% + 25px);
          left: -45px;
          background-image: url('../images/dots-contact.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          z-index: 1;

          @include breakpoint(tablet) {
            left: -90px;
          }

          @include breakpoint(smallScreen) {
            left: auto;
            right: -90px;
            width: 65%;
            top: calc(100% + -220px);
          }

          @include breakpoint(largeScreen) {
            right: auto;
            left: -190px;
            top: calc(100% + 100px);
            width: 550px;
            height: 332px;
            padding-bottom: 0;
          }

          @include breakpoint(extraLargeScreen) {
            left: -15vw;
          }
        }

        &__title {
          width: 100%;
          font-size: 1.875rem;
          font-weight: 700;
          line-height: 35px;
          text-align: center;
          color: #fff;

          @include breakpoint(smallScreen) {
            text-align: left;
            font-size: 2.813rem;
            line-height: 53px;
            max-width: 600px;
          }
        }

        &__whatsapp {
          background-color: $darkGray;
          border: 2px solid $orange;
          padding: 15px 30px;
          font-family: $montserrat;
          font-size: 1.2rem;
          font-weight: 500;
          color: $orange;
          border-radius: 8px;
          margin: 35px auto 0 auto;
          display: flex;
          align-items: center;

          @include breakpoint(smallScreen) {
            font-size: 1.563rem;
            margin: 50px 0 0 0;
          }

          @include breakpoint(largeScreen) {
            cursor: pointer;
            transition: background 0.4s ease;

            &:hover {
              background-color: #f4501e31;
            }
          }

          i {
            margin-right: 15px;
            font-size: 2rem;

            @include breakpoint(smallScreen) {
              font-size: 2.9rem;
            }
          }
        }
      }

      .contact-form {
        width: 100%;
        background-color: #191919;
        border-radius: 10px;
        padding: 35px 20px;
        position: relative;
        z-index: 2;

        @include breakpoint(smallScreen) {
          padding: 50px 35px;
        }

        @include breakpoint(largeScreen) {
          max-width: 610px;
        }

        .form-result {
          position: absolute;
          top: 25px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $orange;
          font-size: 1.5rem;
          font-weight: 700;
          color: #fff;
          text-align: center;
          padding: 15px 25px;
          width: 80%;
          border-radius: 10px;
          opacity: 0;
          animation: showing 1s ease forwards;

          @include breakpoint(smallScreen) {
            width: 300px;
          }
        }

        .form-result.hide {
          animation: hiding 1s ease forwards;
        }

        &__form {
          .name-wrapper,
          .email-wrapper,
          .subject-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 25px;

            label {
              font-size: 1rem;
              font-weight: 500;
              color: #fff;

              @include breakpoint(smallScreen) {
                font-size: 1.25rem;
              }
            }

            .name-input,
            .email-input,
            .subject-input {
              font-family: $montserrat;
              font-size: 1rem;
              color: $orange;
              background-color: transparent;
              border: none;
              height: 35px;
              padding-left: 10px;
              padding-right: 10px;
              border-bottom: 2px solid $orange;
              outline: none;

              @include breakpoint(smallScreen) {
                height: 45px;
                padding-left: 16px;
                padding-right: 16px;
              }
            }

            .form-error {
              color: #df3636;
              font-size: 0.8rem;
            }
          }

          .message-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
              font-size: 1rem;
              font-weight: 500;
              color: #fff;

              @include breakpoint(smallScreen) {
                font-size: 1.25rem;
              }
            }

            .message-input {
              resize: none;
              height: 150px;
              border: none;
              border-bottom: 2px solid $orange;
              outline: none;
              background-color: transparent;
              font-family: $montserrat;
              font-size: 1rem;
              line-height: 25px;
              color: $orange;
              scrollbar-width: 5px;
              scrollbar-color: $orange;
              padding-left: 10px;
              padding-right: 10px;

              @include breakpoint(smallScreen) {
                padding-left: 16px;
                padding-right: 16px;
              }

              &::-webkit-scrollbar {
                width: 10px;
              }

              &::-webkit-scrollbar-track {
                background-color: #141414;
              }

              &::-webkit-scrollbar-thumb {
                background-color: #2c2c2c;
              }
            }

            .form-error {
              color: #df3636;
              font-size: 0.8rem;
            }
          }

          .submit-btn {
            background-color: $orange;
            border: none;
            border-radius: 6px;
            padding: 10px 25px;
            font-family: $montserrat;
            font-size: 1.2rem;
            font-weight: 700;
            color: #fff;
            margin-top: 35px;

            @include breakpoint(smallScreen) {
              font-size: 1.563rem;
              margin-top: 45px;
            }

            @include breakpoint(largeScreen) {
              cursor: pointer;
              transition: background 0.4s ease;

              &:hover {
                background-color: #be3e17;
              }
            }
          }
        }
      }
    }

    .contact-tag {
      width: 80%;
      position: relative;
      top: 10px;
      right: -120px;

      @include breakpoint(tablet) {
        right: -140px;
      }

      @include breakpoint(smallScreen) {
        width: auto;
        height: 60px;
        position: absolute;
        top: auto;
        bottom: -80px;
        right: -70px;
      }

      @include breakpoint(largeScreen) {
        height: 100px;
        bottom: -130px;
        right: -160px;
      }

      @include breakpoint(extraLargeScreen) {
        right: 0;
      }
    }
  }
}

@keyframes showing {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes hiding {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }
}
