.header {
  margin-top: 15px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
      width: auto;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .menu-container {
      &__btn {
        background-color: transparent;
        border: none;
        height: 40px;
        width: 30px;
        position: relative;
        z-index: 4;
        padding: 0;

        .bar {
          width: 30px;
          height: 3px;
          border-radius: 5px;
          background-color: $orange;
          display: block;
          position: relative;
          top: 0;
          transition: all 0.4s ease;

          &::before {
            content: '';
            position: absolute;
            top: -10px;
            width: 30px;
            height: 3px;
            border-radius: 5px;
            background-color: $orange;
            display: block;
            transition: all 0.4s ease;
          }

          &::after {
            content: '';
            position: absolute;
            top: 10px;
            width: 30px;
            height: 3px;
            border-radius: 5px;
            background-color: $orange;
            display: block;
            transition: all 0.4s ease;
          }
        }
      }

      .menu-clicked {
        padding: 0;

        .bar {
          background-color: transparent;

          &::before {
            top: 0;
            transform: rotate(45deg);
            background-color: $darkGray;
          }

          &::after {
            top: 0;
            transform: rotate(135deg);
            background-color: $darkGray;
          }
        }
      }

      .menu-box {
        background-color: $orange;
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 90px 35px 35px 25px;
        border-radius: 10px;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        z-index: 3;

        .menu {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 15px;

          .menu-item {
            cursor: pointer;

            span {
              font-size: 1.25rem;
              font-weight: 500;
              color: #fff;
            }

            .menu-line {
              background-color: $darkGray;
              width: 0%;
              height: 2px;
              transition: width 0.4s ease-in-out;
            }
          }

          .active {
            span {
              color: $darkGray;
            }

            .menu-line {
              width: 100%;
            }
          }
        }
      }

      .menu-active {
        transform: translateX(0%);
      }
    }

    .menu-contact-btn {
      display: none;
    }
  }
}
