.skills {
  margin-top: -38px;
  position: relative;

  &::before {
    content: '';
    position: relative;
    background-image: url('../images/arrows-skills.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    margin-left: -25px;
    margin-bottom: -5%;
    padding-bottom: 24%;
    display: block;
    z-index: 1;
  }

  &__container {
    width: 100%;
    position: relative;
    z-index: 2;

    .skills-box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;

      .skill {
        background-color: #1a1a1a;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 25%;
        padding-bottom: 25%;
        pointer-events: none;

        .skill-image {
          width: 30%;
          user-select: none;

          img {
            width: 100%;
          }
        }

        .skill-tech {
          font-size: 4vw;
          font-weight: 700;
          color: #fff;
          user-select: none;
        }
      }
    }

    .skills-tag {
      width: 53%;
      margin-left: -35px;
      margin-top: 15px;
    }
  }
}
