.skills {
  margin-top: -38px;
  position: relative;

  &::before {
    content: '';
    position: relative;
    background-image: url('../images/arrows-skills.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    left: -25px;
    margin-bottom: -5%;
    padding-bottom: 24%;
    display: block;
    z-index: 1;

    @include breakpoint(tablet) {
      left: -60px;
      width: 40%;
      padding-bottom: 31%;
    }

    @include breakpoint(smallScreen) {
      width: 30%;
      padding-bottom: 24%;
    }
  }

  &__container {
    width: 100%;
    position: relative;
    z-index: 2;

    .skills-box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      position: relative;
      z-index: 2;

      @include breakpoint(smallScreen) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }

      .skill {
        background-color: #1a1a1a;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 25%;
        padding-bottom: 25%;
        pointer-events: none;

        @include breakpoint(smallScreen) {
          width: 170px;
          height: 170px;
          padding: 0;

          &:nth-child(5) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
          }

          &:nth-child(6) {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
          }
        }

        .skill-image {
          width: 30%;
          user-select: none;

          @include breakpoint(smallScreen) {
            width: 52px;
          }

          img {
            width: 100%;
          }
        }

        .skill-tech {
          font-size: 4vw;
          font-weight: 700;
          color: #fff;
          user-select: none;

          @include breakpoint(smallScreen) {
            font-size: 1.25rem;
          }
        }
      }
    }

    .skills-tag {
      width: 53%;
      margin-left: -35px;
      margin-top: 15px;

      @include breakpoint(tablet) {
        margin-left: -70px;
      }

      @include breakpoint(smallScreen) {
        position: absolute;
        margin: 0;
        top: 160px;
        left: -60px;
        z-index: 1;
        width: auto;
        height: 70px;
      }
    }
  }
}
